<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>target</key>
		<string>Quickword_iPad</string>
		<key>sdk</key>
		<string>iphoneos6.0</string>
		<key>configuration</key>
		<string>Debug</string>
	</dict>
	<dict>
		<key>target</key>
		<string>Quickpoint_iPad</string>
		<key>sdk</key>
		<string>iphoneos6.0</string>
		<key>configuration</key>
		<string>Debug</string>
	</dict>
	<dict>
		<key>target</key>
		<string>Quicksheet_iPad</string>
		<key>sdk</key>
		<string>iphoneos6.0</string>
		<key>configuration</key>
		<string>Debug</string>
	</dict>
	<dict>
		<key>target</key>
		<string>Quickoffice_iPad</string>
		<key>sdk</key>
		<string>iphoneos6.0</string>
		<key>configuration</key>
		<string>Debug</string>
	</dict>
	<dict>
		<key>target</key>
		<string>Quickoffice</string>
		<key>sdk</key>
		<string>iphoneos6.0</string>
		<key>configuration</key>
		<string>Debug</string>
	</dict>
	<dict>
		<key>target</key>
		<string>Quicksheet</string>
		<key>sdk</key>
		<string>iphoneos6.0</string>
		<key>configuration</key>
		<string>Debug</string>
	</dict>
	<dict>
		<key>target</key>
		<string>Quickpoint</string>
		<key>sdk</key>
		<string>iphoneos6.0</string>
		<key>configuration</key>
		<string>Debug</string>
	</dict>
	<dict>
		<key>target</key>
		<string>Quickword</string>
		<key>sdk</key>
		<string>iphoneos6.0</string>
		<key>configuration</key>
		<string>Debug</string>
	</dict>
	<dict>
		<key>target</key>
		<string>UniTracer</string>
		<key>sdk</key>
		<string>macosx10.6</string>
		<key>configuration</key>
		<string>Debug</string>
	</dict>
	<dict>
		<key>target</key>
		<string>SmartMuseum</string>
		<key>sdk</key>
		<string>iphoneos6.1</string>
		<key>configuration</key>
		<string>Debug</string>
	</dict>
</array>
</plist>
