<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>enable</key>
		<string>0</string>
		<key>generateXcodeProjectData</key>
		<string>0</string>
		<key>xCodeProjectTarget</key>
		<string>0</string>
		<key>id</key>
		<string>0</string>
		<key>listOfExtensions</key>
		<string>m,mm</string>
		<key>name</key>
		<string>Quickfiles</string>
		<key>ResourcesPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quickfiles/IPH_QOF_App/res</string>
		<key>RootPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quickfiles/IPH_QOF_App</string>
		<key>RoutineLocalizedString</key>
		<string>QFLocalizedString</string>
		<key>XIBsPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quickfiles/IPH_QOF_App/ipd/res/xib</string>
	</dict>
	<dict>
		<key>enable</key>
		<string>0</string>
		<key>generateXcodeProjectData</key>
		<string>0</string>
		<key>xCodeProjectTarget</key>
		<string>Quickpoint/Quickpoint</string>
		<key>id</key>
		<string>1</string>
		<key>listOfExtensions</key>
		<string>m,mm</string>
		<key>name</key>
		<string>Quickpoint</string>
		<key>ResourcesPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quickpoint/IPH_QPT_App/res/ipd/str</string>
		<key>RootPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quickpoint/IPH_QPT_App</string>
		<key>RoutineLocalizedString</key>
		<string>QPLocalizedString</string>
		<key>XIBsPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quickpoint/IPH_QPT_App/res/ipd/xib</string>
	</dict>
	<dict>
		<key>enable</key>
		<string>0</string>
		<key>generateXcodeProjectData</key>
		<string>0</string>
		<key>xCodeProjectTarget</key>
		<string>Quicksheet/Quicksheet</string>
		<key>id</key>
		<string>2</string>
		<key>listOfExtensions</key>
		<string>m,mm</string>
		<key>name</key>
		<string>Quicksheet</string>
		<key>ResourcesPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quicksheet/IPH_QSH_App/res/str</string>
		<key>New item</key>
		<string></string>
		<key>RootPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quicksheet/IPH_QSH_App</string>
		<key>RoutineLocalizedString</key>
		<string>QSLocalizedString</string>
		<key>XIBsPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quicksheet/IPH_QSH_App/ipd/res/xib</string>
	</dict>
	<dict>
		<key>enable</key>
		<string>0</string>
		<key>generateXcodeProjectData</key>
		<string>0</string>
		<key>xCodeProjectTarget</key>
		<string></string>
		<key>id</key>
		<string>3</string>
		<key>listOfExtensions</key>
		<string>m,mm</string>
		<key>name</key>
		<string>Shared</string>
		<key>ResourcesPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quickoffice/IPH_QO_Shared/res/str</string>
		<key>RootPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quickoffice/IPH_QO_Shared</string>
		<key>RoutineLocalizedString</key>
		<string>SharedLocalizedString</string>
		<key>XIBsPath</key>
		<string></string>
	</dict>
	<dict>
		<key>enable</key>
		<string>0</string>
		<key>generateXcodeProjectData</key>
		<string>0</string>
		<key>xCodeProjectTarget</key>
		<string>Quickword/Quickword</string>
		<key>id</key>
		<string>4</string>
		<key>listOfExtensions</key>
		<string>m,mm</string>
		<key>name</key>
		<string>Quickword</string>
		<key>ResourcesPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quickword/IPH_QWD_App/res/str</string>
		<key>RootPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quickword/IPH_QWD_App</string>
		<key>RoutineLocalizedString</key>
		<string>QWLocalizedString</string>
		<key>XIBsPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/Quickword/IPH_QWD_App/ipd/res/xib</string>
	</dict>
	<dict>
		<key>enable</key>
		<string>0</string>
		<key>generateXcodeProjectData</key>
		<string>0</string>
		<key>xCodeProjectTarget</key>
		<string></string>
		<key>id</key>
		<string>5</string>
		<key>listOfExtensions</key>
		<string>m,mm</string>
		<key>name</key>
		<string>MXServerConnect</string>
		<key>ResourcesPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/MXServerConnect/iphone/Resources</string>
		<key>RootPath</key>
		<string>/Users/oldman/Development/IOS_ML_DEV/MXServerConnect/iphone</string>
		<key>RoutineLocalizedString</key>
		<string>MXLocalizedString</string>
		<key>XIBsPath</key>
		<string></string>
	</dict>
	<dict>
		<key>enable</key>
		<string>0</string>
		<key>generateXcodeProjectData</key>
		<string>0</string>
		<key>xCodeProjectTarget</key>
		<string></string>
		<key>id</key>
		<string>6</string>
		<key>listOfExtensions</key>
		<string>m,mm</string>
		<key>name</key>
		<string>LocalizableStrings</string>
		<key>ResourcesPath</key>
		<string>/Users/oldman/Development/UniTracer/UniTracer</string>
		<key>RootPath</key>
		<string>/Users/oldman/Development/UniTracer/UniTracer</string>
		<key>RoutineLocalizedString</key>
		<string>NSLocalizedString</string>
		<key>XIBsPath</key>
		<string>/Users/oldman/Development/UniTracer/UniTracer</string>
	</dict>
	<dict>
		<key>enable</key>
		<string>1</string>
		<key>generateXcodeProjectData</key>
		<string>1</string>
		<key>xCodeProjectTarget</key>
		<string>SmartMuseum/SmartMuseum</string>
		<key>id</key>
		<string>6</string>
		<key>listOfExtensions</key>
		<string>m,mm</string>
		<key>name</key>
		<string>SmartMuseum</string>
		<key>ResourcesPath</key>
		<string>/Users/oldman/Development/SmartMuseum</string>
		<key>RootPath</key>
		<string>/Users/oldman/Development/SmartMuseum</string>
		<key>RoutineLocalizedString</key>
		<string>NSLocalizedString</string>
		<key>XIBsPath</key>
		<string>/Users/oldman/Development/SmartMuseum</string>
	</dict>
	<dict>
		<key>Texts</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>generateXcodeProjectData</key>
		<string>1</string>
		<key>xCodeProjectTarget</key>
		<string>SmartMuseum/SmartMuseum</string>
		<key>id</key>
		<string>6</string>
		<key>listOfExtensions</key>
		<string>m,mm</string>
		<key>name</key>
		<string>SmartMuseum</string>
		<key>ResourcesPath</key>
		<string>/Users/oldman/Development/SmartMuseum</string>
		<key>RootPath</key>
		<string>/Users/oldman/Development/SmartMuseum</string>
		<key>RoutineLocalizedString</key>
		<string>NSLocalizedString</string>
		<key>XIBsPath</key>
		<string>/Users/oldman/Development/SmartMuseum</string>
	</dict>
</array>
</plist>
